<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="description" content="CSE 340 App - Web Backend Development | Home page">
    <meta name="author" content="Ojeaga Benjamin Clifford">
    <meta property="og:title" content="Home | Ojeaga Benjamin Clifford | CSE 340 App - Web Backend Development">
    <meta property="og:type" content="website"> -->
    <!-- <meta property="og:image" content="https://cse340-zh5x.onrender.com/images/vehicles/delorean.jpg"> -->
    <!-- <meta property="og:url" content="https://cse340-zh5x.onrender.com"> -->
    <title><%- title %>| CSE 340 App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    
  
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/larger-screen.css">
    

    <link rel="stylesheet" href="/css/small-screen.css">
    <script src="/js/script.js" defer></script>
    

</head>