<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home| CSE 340 App</title>
  
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/larger-screen.css">
    

    <link rel="stylesheet" href="/css/small-screen.css">
    <script src="/js/script.js" defer></script>
    

</head>
<body>
    <div class="bigest-container">

    <header id="top-header">
  <span class="siteName">

    <a href="/" title="Return to home page"> CSE Motors</a>

  </span>
  <div id="tools">
    <a title="Click to log in" href="/account/login">My Account</a>
  </div>

</header>

    <nav>
    <ul>
        <li>Home</li>
        <li>Custom</li>
        <li>Sedan</li>
        <li>SUV</li>
        <li>Truck</li>
    </ul>
</nav>
    <main>

    <h1>Welcome to CSE Motoers!</h1>
    <div class="container-card">
       
  
        <div class="card">
            <h2>DMC Deloren</h2>
            <ul>
                <li>3 Cup holders</li>
                <li>Superman doors </li>
                <li>Fuzzy dice!</li>
            </ul>
            <img src="/images/site/own_today.png" alt="own_">
        </div>
        <img class="img_delorean" src="/images/vehicles/delorean-tn.jpg" alt="delorean">
   
    </div>
    <div class="upgrade-reviwes">
    <div class="card2">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"SO fast it's almost like travelling in time." (4/5)</li>
            <li>"Coolext ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it" (5/5)</li>
        </ul>

    </div>
    <div>
    <h2>Delorean Upgrades</h2>
    <div class="contianer-upgrades">
       
       <div class="upgrade-cards">
        <div class="img-upgrades">
        <img src="/images/upgrades/flux-cap.png" alt="flux_capacitor">
        </div>
        <a href="">Flux Capacitor</a>
    </div>
        
   

    <div class="upgrade-cards">
        <div class="img-upgrades">
        <img class="flame" src="/images/upgrades/flame.jpg" alt="flames"></div>
        <a href="">Flame Decals</a>
    </div>

        <div class="upgrade-cards">
            <div class="img-upgrades">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="blumper sticker"></div>
            <a href="">Bumper Stickers</a>
        </div>

    <div class="upgrade-cards">
        <div class="img-upgrades">
        <img src="/images/upgrades/hub-cap.jpg" alt="hub_capacitor">
    </div>
        <a href="">Hub Caps</a>
        </div>
        

    </div>
</div>
</div>
</main>
    
    
<footer>
  <p class="copyright">&copy; 2025, CSE 340 App</p>
</footer>
    </div>

</body>
</html>