<h1><%= title %></h1>
<%- messages() %>

<div class="add_ivn_class">
  <a href="/inv/addclassification">add-classification</a>
  <a href="/inv/addinventory">add-inventory</a>

</div>


  <h2>Manage Inventory</h2>
  <p>Choose a classification to see those inventory items</p>
  <div><%- classificationSelect %></div>
  <table id="inventoryDisplay"></table>
  <noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>